/*
 * Licensed to the Apache Software Foundation (ASF) under one
 * or more contributor license agreements.  See the NOTICE file
 * distributed with this work for additional information
 * regarding copyright ownership.  The ASF licenses this file
 * to you under the Apache License, Version 2.0 (the
 * "License"); you may not use this file except in compliance
 * with the License.  You may obtain a copy of the License at
 *
 * http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing,
 * software distributed under the License is distributed on an
 * "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 * KIND, either express or implied.  See the License for the
 * specific language governing permissions and limitations
 * under the License.
 */
* {
    -webkit-tap-highlight-color: rgba(0,0,0,0); /* make transparent link selection, adjust last value opacity 0 to 1.0 */
}

html {
    height: 100%;
    overflow-y: scroll; 
}

body {
    font-family: Segoe UI, 'HelveticaNeue-Light', 'HelveticaNeue', Helvetica, sans-serif;
    padding-bottom: 70px;
    -webkit-touch-callout: none;                /* prevent callout to copy image, etc when tap to hold */
    -webkit-text-size-adjust: none;             /* prevent webkit from resizing text to fit */
    -webkit-user-select: none;                  /* prevent copy paste, to allow, change 'none' to 'text' */
    width:100%;
    height: 100%;
}

/* Portrait layout (default) */
.app {
   
}

/* Landscape layout (with min-width) */
@media screen and (min-aspect-ratio: 1/1) and (min-width:400px) {
    .app {
       
    }
}

.header {
    background-color: #436965;
}

.header h1 {
    color: #fff;
    font-size: 28px;
    padding: 20px 10px 10px 10px;
    text-align: center;
    text-transform: uppercase;      
    font-weight: normal;    
}

h1 {
    font-size:20px;
    font-weight:normal;
    margin:0px 50px 0px 0px;
    overflow:hidden;
    padding:0px;
    text-align:center;
}

