.row {
	margin: 0px;
}

.col-xs-4 {
	padding-left: 0px;
	padding-right: 0px;
}

.col-xs-8 {
	padding-left: 0px;
	padding-right: 0px;
}

h4 {
	font-family: helvetica, bold;
	font-size: 22px;
	bottom: 10px;
	background: rgba(1,1,1, 0.75);
	padding: 8px;
	color: white;
}

.list {
	margin-top: 20px;
	background-color: white;
}

.results-image {
	width: 150px;
	height: 150px;
}

#paging {
	border-radius: 17px;
	border-color: transparent;
	margin: 2px;
}

.pagination {
	margin-bottom: 80px;
}

.pagination > li > a{
	background-color: #9cc0bc;
	color: white;

}

.pagination > .active > a {
	background-color: #436965;
}

.pagination > .active > a:hover {
	background-color: #EEE;
	color: #436965;
}

#thumbnail {
	width: 15px;
	height: 15px; 
	background-size: 15px 15px;
	float: right;
}

#star-rating {
	padding-right: 30px;

}

.filter {
	background-color: rgba(67,105,101, 0.95);
	position: fixed;
	height: 300px;
}

.filterClosed {
	top: -280px;
}

.filterOpened {
	top: 0;
	padding-top: 20px;
}

#link-color {
	color: white;
}

#arrow {
	position: absolute;
	top: 290px;
	color: white;
	font-size: 30px;
	background-color: #9CC0BC;
	border: none;
	margin-left: 5px;
	width: 75px;
	height: 75px;
	padding-top: 35px;
	overflow: hidden;
}

.radioDiv {
	margin-left: 8%;
	width: 86%;
	line-height: 200%;
	min-height: 5em;
}

.radioLabel {
	color: #3279B6;
	padding: 4px;
	margin: 2px;
	font-weight: normal;
	cursor: pointer;
}

.filter-counter {
	background-color: #3C3532;
	color: white;
	font-size: 24px;
	text-align: center;
	z-index: 1;
	position: absolute;
	right: 20px;
	bottom: 20px;
	border-radius: 4px;
	padding: 2px;
	padding-left: 5px;
	padding-right: 5px;
}

.zeroCounter {
	background-color: #DD2222;
}







