<!-- KASTAS EFTER ROUTE -->
	<!-- end -->
<div ng-controller="shopListsCtrl" deselect-able>
	
	<div class="header">
		<h1>Shopping Lists</h1>
			<!-- User sync controls -->
		<div ng-controller="UserControlsController">
			<span class="glyphicon glyphicon-refresh login-controls-button" ng-click="userActions($event)" ng-class="{disabled: !currentUser, 'gly-spin': syncing}"></span>
			<div ng-show="showUserMenu.show" id="login-controls">
				<span id="user-name">{{currentUser.getUsername()}}</span>
				<a href="#/login" ng-if="!currentUser" id="loginToSync">Login to sync</a>
				<div ng-if="currentUser">
					<ul>
						<li>
							<a ng-click="getFromCloud()">Get lists from cloud</a>
						</li>
						<li>
							<a ng-click="saveToCloud()">Save all to cloud</a><br>
						</li>
						<li>
							<a ng-click="logout()">Log out</a>				
						</li>
					</ul>
				</div>
			</div>
			<!-- end user sync controls -->
		</div>
	</div>
	<div id="shop-list">
		<div class="row shop-list-item" ng-repeat="(key, value) in listItems" ng-class-even="'even-steven'">
			<div class="col-xs-10" ng-click="goToShopList(key)">
				<span class=" point item-span">{{key}}</span>
			</div>
			<div class="col-xs-2" >
	  				<span class="glyphicon glyphicon-minus-sign minus-btn" ng-click="delShopList(key)">
	  				</span>
			</div>
		
		</div>
		

		<div class="input-field">
			<div class="row">
				<div class="col-xs-2" id="add-button" ng-click="changeInput()" ng-hide="showInput">	
				  		<span class="glyphicon glyphicon-plus-sign btn-circle" aria-hidden="true"></span>
				</div>
			</div>	
			<form novalidate class="shoplist-input input-group" name="listForm" ng-show="showInput" ng-submit="addShopList($event)">	
				<div class="input-group">
					<input name="listItem" id="inputBox" type="text" ng-model="textInput" class="form-control" placeholder="Listans Namn" input-focus required/>
					<span class="input-group-btn">
						<button type="submit" class="btn" >+</span></button>
					</span>
					
				</div>	
			</form>
		</div>
	</div>
</div>

<!-- SLUT BEHÅLL -->

